<app-menu></app-menu>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="text-center">
                <img src="" alt="" srcset="">
            </div>
          <h1 class="mb-5">Shortcut to Success</h1>
        </div>
      
      </div>
    </div>
  </header>

  

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/smu-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>We Aim</h2>
          <p class="lead mb-0">MyMentor application ,will enable you  to be a professor for another student and this will help you for your professional life</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/smu-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>User friendly design </h2>
          <p class="lead mb-0">The design of MyMentor Application was made after a lot of studies to give the students a unique experience!We think that simple is the best .Consistency,Mobile comptability,Easy loading and easy navigation make MyMentor unique</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/smu-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2></h2>
          <p class="lead mb-0"></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets\img\smuStudentTestimonia-1.jpg" alt="">
            <h5>Iheb jendoubi</h5>
            <p class="font-weight-light mb-0">"This is fantastic!I think through this application it will be easier to manage our tutoring session"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets\img\smuStudentTestimonia-2.jpg" alt="">
            <h5>Nour Bachraoui</h5>
            <p class="font-weight-light mb-0">"MyMentor application is amazing.tutoring had become more efficient"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets\img\smuStudentTestimonia-3.jpg" alt="">
            <h5>Nour bennour</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy;  All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            
            
            
          </ul>
        </div>
      </div>
    </div>
  </footer>